In [1]:
import pandas as pd
import requests
import json

In [2]:
AllReports = requests.get("https://covid19api.io/api/v1/AllReports")
with open('all_countrries_cases.json', 'w') as json_file:
    json.dump(AllReports.json(), json_file)
with open('all_countrries_cases.json') as fs:
    data = json.load(fs)

AllReports_jh = requests.get("https://covid19api.io/api/v1/JohnsHopkinsDataDailyReport")    
with open('all_countrries_cases_jh.json', 'w') as json_file:
    json.dump(AllReports_jh.json(), json_file)
with open('all_countrries_cases_jh.json') as fs:
    data_jh = json.load(fs)

In [3]:
# print(data)

In [4]:
# print(data_jh)

In [3]:
data.keys()

[u'reports']

In [4]:
# data['reports']

In [5]:
# data["reports"][0]["table"]

In [7]:
data["reports"][0]["table"][0][0]

{u'#': u'',
 u'1 Caseevery X ppl': u'',
 u'1 Deathevery X ppl': u'',
 u'1 Testevery X ppl': u'',
 u'ActiveCases': u'3,776,741',
 u'Continent': u'All',
 u'Country': u'World',
 u'Deaths_1M_pop': u'60.9',
 u'NewCases': u'+7,487',
 u'NewDeaths': u'+855',
 u'NewRecovered': u'+20,368',
 u'Population': u'',
 u'Serious_Critical': u'57,888',
 u'Tests_1M_Pop': u'',
 u'TotCases_1M_Pop': u'1,179',
 u'TotalCases': u'9,188,362',
 u'TotalDeaths': u'474,339',
 u'TotalRecovered': u'4,937,282',
 u'TotalTests': u''}

In [8]:
columns = data["reports"][0]["table"][0][0].keys()

In [9]:
columns

[u'TotalDeaths',
 u'#',
 u'Tests_1M_Pop',
 u'1 Testevery X ppl',
 u'TotCases_1M_Pop',
 u'Deaths_1M_pop',
 u'NewCases',
 u'TotalCases',
 u'1 Caseevery X ppl',
 u'TotalTests',
 u'NewRecovered',
 u'1 Deathevery X ppl',
 u'Country',
 u'Serious_Critical',
 u'TotalRecovered',
 u'NewDeaths',
 u'Continent',
 u'ActiveCases',
 u'Population']

In [10]:
rows = []
for dctnry in data["reports"][0]["table"][0]:
    sep_row = []
    for each_key in dctnry:
        sep_row.append(dctnry[each_key])
    rows.append(sep_row)

In [11]:
rows[0]

[u'473,421',
 u'',
 u'',
 u'',
 u'1,177',
 u'60.7',
 u'+134,822',
 u'9,176,722',
 u'',
 u'',
 u'+69,856',
 u'',
 u'World',
 u'57,859',
 u'4,903,995',
 u'+3,817',
 u'All',
 u'3,799,306',
 u'']

In [12]:
df = pd.DataFrame(rows, columns=columns)

In [13]:
df.head()

,TotalDeaths,#,Tests_1M_Pop,1 Testevery X ppl,TotCases_1M_Pop,Deaths_1M_pop,NewCases,TotalCases,1 Caseevery X ppl,TotalTests,NewRecovered,1 Deathevery X ppl,Country,Serious_Critical,TotalRecovered,NewDeaths,Continent,ActiveCases,Population
0,"473,421",,,,"1,177",60.7,"+134,822","9,176,722",,,"+69,856",,World,"57,859","4,903,995","+3,817",All,"3,799,306",
1,"122,596",1,"87,537",11,"7,213",370,"+30,420","2,387,077",139,"28,970,655","+10,472","2,700",USA,"16,498","990,827",+349,North America,"1,273,654","330,954,637"
2,"51,407",2,"11,436",87,"5,229",242,"+24,358","1,111,348",191,"2,430,347",,"4,134",Brazil,"8,318","579,226",+748,South America,"480,715","212,521,080"
3,"8,206",3,"118,477",8,"4,059",56,"+7,600","592,280",246,"17,289,691","+4,705","17,784",Russia,"2,300","344,416",+95,Europe,"239,658","145,933,086"
4,"14,015",4,"5,038",198,319,10,"+13,540","440,450","3,132","6,950,493","+10,885","98,440",India,"8,944","248,137",+312,Asia,"178,298","1,379,641,143"

In [15]:
import requests
FatalityRateByAge = requests.get("https://covid19api.io/api/v1/FatalityRateByAge")

In [16]:

with open('FatalityRateByAge.json', 'w') as json_file:
    json.dump(FatalityRateByAge.json(), json_file)

In [17]:
# print(data_jh)

In [18]:
columns = data_jh[u'data'][u'table'][0].keys()

In [19]:
columns

[u'Combined_Key',
 u'Confirmed',
 u'Long_',
 u'Deaths',
 u'Lat',
 u'Province_State',
 u'Last_Update',
 u'Active',
 u'Country_Region',
 u'Incidence_Rate',
 u'Case-Fatality_Ratio',
 u'Recovered']

In [20]:
rows_1 = []
for dctnry in data_jh[u'data'][u'table']:
    sep_row = []
    for each_key in dctnry:
        sep_row.append(dctnry[each_key])
    rows_1.append(sep_row)

In [21]:
rows_1[0]

[u'Abbeville, South Carolina, US',
 u'88',
 u'-82.46170658',
 u'0',
 u'34.22333378',
 u'South Carolina',
 u'2020-06-22 04:33:20',
 u'88',
 u'US',
 u'358.78827414685856',
 u'0.0',
 u'0']

In [22]:
df_new = pd.DataFrame(rows_1, columns=columns)

In [23]:
df_new.head()

,Combined_Key,Confirmed,Long_,Deaths,Lat,Province_State,Last_Update,Active,Country_Region,Incidence_Rate,Case-Fatality_Ratio,Recovered
0,"Abbeville, South Carolina, US",88,-82.46170658,0,34.22333378,South Carolina,2020-06-22 04:33:20,88,US,358.78827414685856,0.0,0
1,"Acadia, Louisiana, US",654,-92.41419698,32,30.295064899999996,Louisiana,2020-06-22 04:33:20,622,US,1054.0736562172617,4.892966360856269,0
2,"Accomack, Virginia, US",1031,-75.63234615,14,37.76707161,Virginia,2020-06-22 04:33:20,1017,US,3190.3700953088255,1.3579049466537343,0
3,"Ada, Idaho, US",1166,-116.24155159999998,22,43.4526575,Idaho,2020-06-22 04:33:20,1144,US,242.11617007934186,1.8867924528301887,0
4,"Adair, Iowa, US",12,-94.47105874,0,41.33075609,Iowa,2020-06-22 04:33:20,12,US,167.78523489932886,0.0,0

In [24]:
df_new.describe()

,Combined_Key,Confirmed,Long_,Deaths,Lat,Province_State,Last_Update,Active,Country_Region,Incidence_Rate,Case-Fatality_Ratio,Recovered
count,3753,3753,3753,3753,3753,3753,3753,3753,3753,3753,3753,3753
unique,3753,1333,3670,409,3680,549,1,1190,188,3657,1725,526
top,"Pepin, Wisconsin, US",1,,0,,Texas,2020-06-22 04:33:20,0,US,,0.0,0
freq,1,91,73,1265,73,242,3753,115,3082,73,1220,3158

In [19]:
df_new["Country_Region"].drop_duplicates()

0                         US
3075                   Italy
3076                  Brazil
3077                  Russia
3078                  Mexico
3079                   Japan
3082                  Canada
3087                Colombia
3088                    Peru
3091                   Spain
3092                   India
3094          United Kingdom
3095                   China
3097                   Chile
3106             Netherlands
3113               Australia
3116                Pakistan
3117                 Germany
3132                  Sweden
3166                 Ukraine
3202                 Denmark
3203                  France
3584             Afghanistan
3585                 Albania
3586                 Algeria
3587                 Andorra
3588                  Angola
3589     Antigua and Barbuda
3590               Argentina
3591                 Armenia
                ...
3723                Slovakia
3724                Slovenia
3725                 Somalia
3726            South Africa
3727             South Sudan
3728               Sri Lanka
3729                   Sudan
3730                Suriname
3731             Switzerland
3732                   Syria
3733                 Taiwan*
3734              Tajikistan
3735                Tanzania
3736                Thailand
3737             Timor-Leste
3738                    Togo
3739     Trinidad and Tobago
3740                 Tunisia
3741                  Turkey
3742                  Uganda
3743    United Arab Emirates
3744                 Uruguay
3745              Uzbekistan
3746               Venezuela
3747                 Vietnam
3748      West Bank and Gaza
3749          Western Sahara
3750                   Yemen
3751                  Zambia
3752                Zimbabwe
Name: Country_Region, Length: 188, dtype: object

In [25]:
f = df_new[df_new['Country_Region'] == "US"]

In [26]:
f.shape

(3082, 12)

In [27]:
# f.groupby(["Province_State"])["Active"].sum().head(20)
f['Active'] = f['Active'].astype(str).astype(int)
f.groupby(["Province_State"])["Active"].sum().head(20)

/Users/nidhipatel/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Province_State
Alabama                  29182
Alaska                     740
Arizona                  51242
Arkansas                 15336
California              173031
Colorado                 28877
Connecticut              41495
Delaware                 10340
Diamond Princess            49
District of Columbia      9487
Florida                  94130
Georgia                  62058
Grand Princess             100
Guam                       217
Hawaii                     797
Idaho                     3917
Illinois                130115
Indiana                  39883
Iowa                     25277
Kansas                   11879
Name: Active, dtype: int64

In [31]:
df_new['Active'] = df_new['Active'].astype(str).astype(int)
grpby_country = df_new.groupby(["Country_Region"])["Active"].sum().reset_index(name ='Total_Active_Case')

In [32]:
grpby_country.head(10)

        Country_Region  Total_Active_Case
0          Afghanistan              19488
1              Albania                784
2              Algeria               2504
3              Andorra                 11
4               Angola                 97
5  Antigua and Barbuda                  1
6            Argentina              29046
7              Armenia              10916
8            Australia                469
9              Austria                454

In [34]:
grpby_country.sort_values(by='Total_Active_Case', ascending=False)

                       Country_Region  Total_Active_Case
174                                US            1464775
23                             Brazil             433845
178                    United Kingdom             261767
140                            Russia             236636
79                              India             174387
130                          Pakistan             106040
134                              Peru             101510
62                             France              92869
158                             Spain              67573
13                         Bangladesh              65765
147                      Saudi Arabia              55215
162                            Sweden              50990
156                      South Africa              43764
122                       Netherlands              43506
37                           Colombia              39071
53                              Egypt              38304
35                              Chile              37307
16                            Belgium              34083
81                               Iran              31738
32                             Canada              29347
6                           Argentina              29046
80                          Indonesia              25022
113                            Mexico              24225
173                            Turkey              22495
52                            Ecuador              21426
135                       Philippines              20990
85                              Italy              20972
15                            Belarus              20493
0                         Afghanistan              19488
176                           Ukraine              19271
..                                ...                ...
101                     Liechtenstein                 26
182                           Vietnam                 22
11                            Bahamas                 16
3                             Andorra                 11
64                             Gambia                 11
123                       New Zealand                  9
78                            Iceland                  8
104                        MS Zaandam                  7
171               Trinidad and Tobago                  6
14                           Barbados                  5
165                           Taiwan*                  5
144  Saint Vincent and the Grenadines                  3
17                             Belize                  3
115                            Monaco                  2
30                           Cambodia                  2
98                            Lesotho                  2
112                         Mauritius                  1
143                       Saint Lucia                  1
5                 Antigua and Barbuda                  1
184                    Western Sahara                  0
50                           Dominica                  0
132                  Papua New Guinea                  0
69                            Grenada                  0
75                           Holy See                  0
24                             Brunei                  0
95                               Laos                  0
169                       Timor-Leste                  0
60                               Fiji                  0
150                        Seychelles                  0
142             Saint Kitts and Nevis                  0

[188 rows x 2 columns]